.employeeForm input {
  margin: 10px;
  display: inline-block;
}

li {
  margin: 20px;
  display: inline-block;
}

/*input{
  margin: 10px;
}


th, td {
  text-align: center;
  padding: 10px;
}

table {
  margin: 10px;
}

div {
  display: inline-block;
}*/
